<!DOCTYPE html>
html(lang="zw-Hant-TW")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width,inital-scale=1.0,minmum-scale=1.0")
		title Single Page Layout
		link(href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet")
		link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
		link(rel="stylesheet", href="css/normalize.css")
		link(rel="stylesheet", href="css/style.css")
		script(src=src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
		crossorigin="anonymous")
	body
		header.header
			p.site-title-sub Web desginer's portfolio
			h1.site-title HI, MY NAME IS...
			p.site-description Check out some of my works
			div.buttons
				a.button(href="#about") LEARN MORE
				a.button.button-showy(href="#contact") SEND MESSAGE
		section.about#about
			h2.heading ABOUT ME
			p.about-text 初次見面，你好。本人目前自學網頁設計以及UI/UX設計。<br>我從淡江大學資管系畢業後，就在行銷公司擔任專案企劃。現在則是在家進修。
			p.about-text 這個網站是練習設計一頁式的網頁	。<br>並符合 RWD 響應式設計，使用樣板語言 jade/sass 來做管理。
		section.works
			h2.heading WORKS
			div.works-wrapper
				div.work-box.tree
					img.work-image(src="images/tree.jpg", alt="")
					div.work-description
						div.work-description-inner
							p.work-text 開始製作第一個案例。<br>開始簡單的說明。<br>使用的工具：XXX, XXX, XXX<br>
								a.button.button-ghost(href="#") READ MORE
				div.work-box.building
					img.work-image(src="images/building.jpg", alt="")
					div.work-description
						div.work-description-inner
							p.work-text 開始製作第二個案例。<br>開始簡單的說明。<br>使用的工具：XXX, XXX, XXX<br>
								a.button.button-ghost(href="#") READ MORE
				div.work-box.lake
					img.work-image(src="images/lake.jpg", alt="")
					div.work-description
						div.work-description-inner
							p.work-text 開始製作第三個案例。<br>開始簡單的說明。<br>使用的工具：XXX, XXX, XXX<br>
								a.button.button-ghost(href="#") READ MORE
				div.work-box.sky
					img.work-image(src="images/sky.jpg", alt="")
					div.work-description
						div.work-description-inner
							p.work-text 開始製作第四個案例。<br>開始簡單的說明。<br>使用的工具：XXX, XXX, XXX<br>
								a.button.button-ghost(href="#") READ MORE
		section.skills
			h2.heading MY SKILLS
			div.skills-wrapper
				div.skill-box
					i.skill-icon.fa.fa-lightbulb-o
					div.skill-title IDEA
					p.skill-text 我喜歡思考事情。<br>也喜歡研究與嘗試新事物。<br>特別喜歡關注教育相關的議題。
				div.skill-box
					i.skill-icon.fa.fa-paint-brush
					div.skill-title DESGIN
					p.skill-text 熟悉 AI 勝過 PS。<br>擅長畫一些小 icon。<br>最近開始接觸一些 UI/UX 的設計觀念。
				div.skill-box
					i.skill-icon.fa.fa-code
					div.skill-title CODING
					p.skill-text 擅長語言 HTML/CSS。<br>能夠使用 jQuery來做一些動畫。<br>未來想開始研究前端框架Vue.js。
		section.contact#contact
			h2.heading CONTACT
			form.contact-form
				input(type="text" name="name" placeholder="NAME")
				textarea(name="message" placeholder="MESSAGE")
				input(type="submit" value="SEND")
		footer.footer © sample site
		div#gotop TOP
		script(src="lib/placeholders.min.js")
		//- 可以使placeholder支援舊的瀏覽器
		script.
			$(document).ready(function (){ //jquery等文檔載入完執行
				$(".buttons a").on("click",function (event){
					if(this.hash != ""){ //如果網頁的＃值不是空的時
						event.preventDefault();
						var hash = this.hash;
						$("html,body").animate({ //.animate({styles},speed,easing,callback)
							scrollTop:$(hash).offset().top},//移動到#hash的座標的top值
							900,
							function(){window.location.hash = hash;
						});
					}
				});
			});
			$(function(){
				$("#gotop").click(function(){
					$("html,body").animate({
						scrollTop:0
					},1000);
				});
				$(window).scroll(function(){
					if($(this).scrollTop()>200){
						$("#gotop").stop().fadeTo('fast',1);
					}else{
						$("#gotop").stop().fadeOut('fast');
					}
				});
			});
